[submodule "HoloEverywhere"]
	path = loggerui/HoloEverywhere
	url = https://github.com/apps8os/HoloEverywhere.git
[submodule "google-play-services_lib"]
	path = loggerui/google-play-services_lib
	url = https://github.com/apps8os/google-play-services_lib.git

