[submodule "HoloEverywhere"]
	path = HoloEverywhere
	url = https://github.com/apps8os/HoloEverywhere.git
[submodule "google-play-services_lib"]
	path = google-play-services_lib
	url = https://github.com/apps8os/google-play-services_lib.git

[submodule "Funf"]
	path = Funf
	url = https://github.com/brodo/Funf.git
